<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish</title>
</head>
@model Dish                                       

<body>
    <h1>@Model.Name</h1>
    <h1> @Model.Chef</h1><hr>

    <u> <a href="/">Home</a></u><br><br>

    <p>@Model.Description!</p>
    <h4>Calories: @Model.Calories</h4>
    <h4>Tasiness: @Model.Tastiness</h4>
    <a href="/delete/@Model.DishId"><button>Delete</button></a>
    <a href="/edit/@Model.DishId"><button type="Submit">Edit</button></a>


</body>
</html>